body{
    background-color: #f9f9f9;
}
h1,h2,h3,h4,h5,p,a,li{
    font-family: 'Lato', Arial;
}

a, a:hover, a :hover{
    color:#50C5FB;
}
.btn{
    background-color: #50C5FB;
    border: 1px solid #50C5FB;
    color:#fff;
}
.btn:hover{
    background-color: #36baf7;
}
